# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [3]:
import pandas as pd

In [4]:
url= 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

In [5]:
df=pd.read_csv(url)

In [6]:
df1=df.copy()
df1.columns = [column.lower().replace(" ", "_") for column in df1.columns]

In [7]:
# ['unnamed:_0'] seems to be the index, we can drop the column
df1= df1.drop(columns='unnamed:_0')

In [8]:
df1.sample(3)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
10762,ZP86347,California,5500.577411,No,Extended,College,2/12/11,Employed,F,44019,...,0.0,1,Personal Auto,Personal L3,Offer3,Agent,165.478147,SUV,Medsize,A
7603,WA25797,Washington,8564.768226,Yes,Basic,High School or Below,2/17/11,Employed,M,95697,...,0.0,9,Personal Auto,Personal L3,Offer2,Agent,178.006524,Sports Car,Medsize,A
7347,LC44944,Washington,36470.302400,No,Premium,Doctor,1/21/11,Unemployed,F,0,...,3.0,2,Personal Auto,Personal L3,Offer2,Branch,813.600000,Four-Door Car,Small,NaN

In [9]:
#checking Nan values 
df1.isna().sum()

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign

In [10]:
df_claim= df1[ (df1["total_claim_amount"] > 1000) & (df1["response"] == 'Yes')]

In [11]:
# 67 customers is concern 
df_claim.shape

(67, 25)

Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

   ==> the total_claim_amount of male is on average highest than female by policy. Execept policy special L1 special L2 special L3

In [12]:
pivot_df1 = df1.pivot_table(values="total_claim_amount", index=['policy','gender',], aggfunc='mean')

# ou df1_group=df1.groupby(['policy','gender'])["total_claim_amount"].mean().reset_index()

pivot_df1

                     total_claim_amount
policy       gender
Corporate L1 F               411.466443
             M               471.902538
Corporate L2 F               411.827219
             M               466.080581
Corporate L3 F               384.837877
             M               456.672061
Personal L1  F               423.652040
             M               461.184619
Personal L2  F               405.069112
             M               465.068937
Personal L3  F               414.413353
             M               456.170380
Special L1   F               504.875784
             M               402.731382
Special L2   F               426.567165
             M               424.328726
Special L3   F               473.877232
             M               423.467826

Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers

In [17]:
df1['policy'].value_counts()

policy
Personal L3     4118
Personal L2     2537
Personal L1     1473
Corporate L3    1221
Corporate L2     688
Corporate L1     432
Special L2       193
Special L3       170
Special L1        78
Name: count, dtype: int64

In [18]:
df_state= df1.groupby(['state'])['policy'].count().reset_index()
df_state

        state  policy
0     Arizona    1937
1  California    3552
2      Nevada     993
3      Oregon    2909
4  Washington     888

Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [24]:
df_pivot = df1.pivot_table(values='customer_lifetime_value', index=['education', 'gender'], aggfunc=(['max','min','median']))
df_pivot

                                                max                     min  \
                            customer_lifetime_value customer_lifetime_value
education            gender
Bachelor             F                  73225.95652             1904.000852
                     M                  67907.27050             1898.007675
College              F                  61850.18803             1898.683686
                     M                  61134.68307             1918.119700
Doctor               F                  44856.11397             2395.570000
                     M                  32677.34284             2267.604038
High School or Below F                  55277.44589             2144.921535
                     M                  83325.38119             1940.981221
Master               F                  51016.06704             2417.777032
                     M                  50568.25912             2272.307310

                                             median
                            customer_lifetime_value
education            gender
Bachelor             F                  5640.505303
                     M                  5548.031892
College              F                  5623.611187
                     M                  6005.847375
Doctor               F                  5332.462694
                     M                  5577.669457
High School or Below F                  6039.553187
                     M                  6286.731006
Master               F                  5729.855012
                     M                  5579.099207

the median of customer life value decrease with the level of education.
Median M is higher than F except education MASTER. 
more the level of education increases,  more the min max gaps reduce and gaps F /M reduce